@keyframes comunicacion {
    0% {width: 0%;}
    100%{width: 70%;}
}

@keyframes trabajo {
    0% {width: 0%;}
    100%{width: 96%;}
}

@keyframes dedicacion {
    0% {width: 0%;}
    100%{width: 52%;}
}

@keyframes responsabilidad {
    0% {width: 0%;}
    100%{width: 87%;}
}

@keyframes puntualidad {
    0% {width: 0%;}
    100%{width: 67%;}
}