main{
    grid-area: main;
    color: #fff;
    align-items: center;
    .seccion{
        background-color: #1e2326;
        color: #fff;
        padding: 20px;
        padding-bottom: 3rem;
        max-width: 1100px;
        margin: 7rem auto 1rem;
    }
}

.contenido {
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: .3fr repeat(2 1fr) .2fr;
    grid-template-areas: "h2 h2"
                        "p1 p1"
                        "fila fila"
                        "buttom buttom";
    h2{
        grid-area: h2;
        font-size: 65px;
        font-family: 'Righteous';
        text-align: center;
        padding: 20px 0;
    }
}


