.seccion {background-color: #1e2326;}
    .contenido {    
        .fila {
            grid-area: fila;
            display: flex;
        }
        .col {
            margin: 1.4rem;
            width: 50%;
            padding-bottom: 1.5rem;
            position: relative;
            input, textarea{
                    display: block;
                    width: 100%;
                    padding: 18px;
                    border: none;
                    margin-bottom: 20px;
                    background-color: #252a2e;
                    color: #fff;
                    font-size: 18px;
                }
                img {
                    width: 100%;
                }
                .info {
                    position: absolute;
                    top: 40%;
                    background-color: #252a2e;
                    padding: 20px;
                    width: 350px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    ul {
                        list-style: none;
                        li {
                            margin-bottom: 20px;
                            font-size: 14px;
                            i {
                                color: #1CB698;
                                display: inline-block;
                                margin-right: 20px;
                            }
                        }
                    }
                }
            } 
        button {
            cursor: pointer;
            background-color: transparent;
            border: 2px solid #fff;
            width: fit-content;
            display: block;
            margin: 20px auto;
            padding: 10px 22px;
            font-size: 16px;
            color: #fff;
            position: relative;
            z-index: 10;
            &:hover{
                background-color: #1CB698;
            }
        }
    }
